div.moduleCrudler {
  // Appearance
  // Layout
  display: flex;
  flex-direction: column;
  gap: 20px;

  // Children
  & > main {
    // Appearance
    // Layout
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div.moduleView {
      position: sticky;
      top: 40px;
    }

    @media (width > 750px) {
      // Layout
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 30px;

      // Children
      & > div {
        flex: 1;
        min-width: 40%;
      }
    }
  }
}
